html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #4d9970 !important;
    color: #ddeee5  !important;
    border-color:  #bbddcb !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 0px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
